[submodule "shell/.oh-my-zsh"]
	path = shell/.oh-my-zsh
  url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "shell/.bin/.third-party/z"]
	path = shell/.bin/.third-party/z
	url = https://github.com/rupa/z.git
[submodule "shell/.bin/.third-party/rsync-time-backup"]
	path = shell/.bin/.third-party/rsync-time-backup
	url = https://github.com/laurent22/rsync-time-backup.git
