[submodule "vim-janus/.vim"]
	path = vim-janus/.vim
	url = https://github.com/carlhuda/janus.git
	ignore = dirty
[submodule "vim/.vim/bundle/Vundle.vim"]
	path = vim/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim-janus/.janus"]
	path = vim-janus/.janus
	url = https://github.com/xieyunzi/janus.git
