#!/bin/sh
echo "--- INF ---: $0 local variables loaded."

NEOVIM_SOURCE_PATH=$HOME/code/neovim/
# update neovim
# 0 * * * * . $HOME/.lib/cron_variables; cd $NEOVIM_SOURCE_PATH; /usr/local/bin/git pull origin master; /usr/bin/make
